.product {
  margin: 20px;
  padding: 20px 40px;
  margin-bottom: 20px;
  height: 180px;
  flex: 1;
  border: 1px solid red;
}

.product-field {
  font-size: 20px;
}

.product-label {
  font-weight: bold;
  font-size: 25px;
  margin-right: 10px;
}

.container {
  max-width: 1000px;
  margin: auto;
  height: 800px;
}

.page {
  margin-top: 50px;
  max-width: 1000px;
  background-color: antiquewhite;
  margin: 0 auto;
}

.product-list {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app-navbar {
  display: flex;
  font-size: 25px;
  padding: 20px;
  background-color: aqua;
  justify-content: space-between;
  margin-bottom: 100px;
  font-weight: bold;
  display: flex;
}

.app-footer {
  display: flex;
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
  background-color: black;
  justify-content: center;
  margin-bottom: 100px;
  color: white;
  bottom: 0;
}

.content-wrapper {
  padding: 30px;
}

.selection-title {
  font-size: 30px;
  font-weight: bold;
}

.product-row {
  display: flex;
}

.product1 .product2 {
  flex: 1;
}

.product3 .product4 {
  flex: 1;
}